* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(207, 207, 207);
    font-family: arial, helvetica;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0 0 10px black;
    padding: 0 20px;
}

.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.logo span:first-child {
    color: #6e17d1;
}

.logo span:last-child {
    font-size: 13px;
    letter-spacing: normal;
}

.menu {
    display: flex;
    margin-right: 50px;
    list-style: none;
}

.menu li {
    position: relative;
}

.menu > li a{
    padding: 17px;
    color:white;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.menu > li:hover {
    background: #6e17d1;
}

.menu > li:hover > .submenu,
.submenu > li:hover > .submenu  {
    display: block;
}


.submenu {
    display: none;
    position: absolute;
    background-color: #6e17d1;
    top: 50px;
    left: 0;
    list-style: none;
    min-width: 110%;
}

.submenu li:hover {
    background: #3d0879;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0; 
    left: 100%;
}
